<%- include('header') %>

  <div class="container">
    <h1><%= title %></h1>
    <a href='/select-file'>Select File</a>
    <br>
    <a href='/settings'>Settings</a>

    <div class="panel panel-default">
      <div class="panel-heading">Log Viewer</div>
      <div id="log-window" class="panel-body">No logs to show</div>
    </div>
    <script src="/javascripts/log-viewer.js"></script>
  </div>

<%- include('footer') %>
