<!DOCTYPE html>
<%- include("header") %>

  <div class="container">
    <h1><%= title %></h1>
    <a href="/">Home</a><br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span id="back" class="btn btn-primary fa fa-arrow-left"></span> 
      </div>
      <div class="panel-body">
        <table id="fileTable">
        </table>
      </div>
    </div>
  </div> 

  <script src="/javascripts/select-file.js"></script>

<%- include("footer") %>
